{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

  <div class="homeCont">
    {% if not current_user.googleSheetAccess %}
      <div class="googleLogin accessCont">
        <p>Login to Drive so we can backup your data</p>
        <img src="/static/img/google.png">
        <a href="{{ url_for('pages.googleSpreadsheetLogin') }}" class="loginBtn loginBtn--google" type="button">
          Login with Google
        </a>
      </div>
    {% endif %}
    {% if not current_user.splitwiseAccess %}
      <div class="splitwiseLogin accessCont">
        <p>Login to Splitwise so we can fetch your data</p>
        <img src="/static/img/splitwise.png">
        <a href="{{ url_for('pages.splitwiseLogin') }}" class="loginBtn loginBtn--splitwise" type="button">
          Login with Splitwise
        </a>
      </div>
    {% endif %}
    {% if current_user.googleSheetAccess and current_user.splitwiseAccess %}
      <div class="backupInfo">
        <p>Your data is being backed up</p>
        <div class="lastbackup">
          <span>Last Backup time : {{ lastBackupTime }}</span>
        </div>
      </div>
    {% endif %}


  </div>

{% endblock %}
